h1 {
  font-size: 36px;
  text-align: center;
}
body {
  background-color: #000000;
  margin: 0;
  padding: 0;
}
.container {
  font-family: "Be Vietnam Pro", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
img {
  width: 200px;
  margin-top: 50px;
}
.info {
  padding: 30px;
  border-radius: 8px;
  background-color: #1a1a1a;
  margin: 20px;
  width: 40vw;
  height: fit-content;
}
ul {
  padding-left: 17px;
  font-size: 15px;
  margin: 0;
}
.outer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  width: 100vw;
}

a {
  color: #a1d0ff;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #63aaff;
}

#copied-msg {
  color: rgba(77, 176, 80, 0);
  transition: color 0.3s ease-in-out;
}

button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 5px 7px;
  font-size: 15px;
  border-radius: 5px;
  font-family: "Be Vietnam Pro", sans-serif;
  cursor: pointer;
}

.copied-msg-container {
  list-style-type: none;
}
