h1 {
  font-size: 36px;
  text-align: center;
}
body {
  background-color: #000000;
  font-family: "Be Vietnam Pro", sans-serif;
  height: 100vh;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
}
img {
  width: 200px;
}
.info {
  padding: 30px;
  border-radius: 8px;
  background-color: #1a1a1a;
  margin: 20px;
  width: 500px;
}
ul {
  padding-left: 17px;
}
.outer {
  display: flex;
  flex-direction: row;
}

a {
  color: #a1d0ff;
  transition: color 0.3s ease-in-out;
}

a:hover {
  color: #63aaff;
}

#copied-msg {
  color: rgba(77, 176, 80, 0);
  transition: color 0.3s ease-in-out;
}

button {
  background-color: #333333;
  color: #ffffff;
  border: none;
  padding: 5px 7px;
  font-size: 15px;
  border-radius: 5px;
  cursor: pointer;
}
